@model Imdb.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producer.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfRelease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>


        <dd>
            <div>
                <img class="img-responsive" src="@Url.Content(Model.Poster)" />
            </div>
    
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Actors)
        </dt>

        <dd>
            <ul>
                @foreach (var actor in Model.Actors)
                {
                    <li>
                        @actor.Person.Name
                    </li>
                }

            </ul>

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer.Person.Name)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
